#controlPanel {
  padding: 1rem;
}

#statusPanel {
  border: 2px solid black;
  width: 30%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin: 1px;
}

#log {
  border: 2px solid black;
  padding: 1px;
  display: flex;
  flex-direction: column;
  height: 600px;
  overflow-y: auto;
}

#logMessage {
  font-size: 12px;
  border: 1px solid black;
  height: 5%;
  width: 95%;
}

#status {
  border: 2px solid black;
  text-align: center;
}

#map {
  width: 70%;
  height: 80vh;
  border: 2px solid black;
}

#wrapDiv {
  display: flex;
  gap: 5px;
}

#chat {
  padding: 1px;
}
